#include <winver.h>

#define VER_STR_HELPER(x)	#x
#define VER_STR(x)		VER_STR_HELPER(x)
#define FILE_VER		MAJOR_VER,MINOR_VER,RELEASE_VER,BUILD_VER
#define FILE_VER_STR	VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER) "\0"
#define PROD_VER		MAJOR_VER,MINOR_VER,0,0
#define PROD_VER_STR	VER_STR(MAJOR_VER.MINOR_VER) "\0"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION FILE_VER
  PRODUCTVERSION PROD_VER
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", ORG "\0"
			VALUE "FileDescription", "DigiDoc3 Client\0"
			VALUE "FileVersion", FILE_VER_STR
			VALUE "InternalName", APP "\0"
			VALUE "LegalCopyright", "Copyright (C) 2009-2013 Estonian Information System's Authority"
			VALUE "OriginalFilename", APP ".exe\0"
			VALUE "ProductName", "DigiDoc3 Client\0"
			VALUE "ProductVersion", PROD_VER_STR
		END
		BLOCK "042504B0"
		BEGIN
			VALUE "CompanyName", ORG "\0"
			VALUE "FileDescription", "DigiDoc3 Klient\0"
			VALUE "FileVersion", FILE_VER_STR
			VALUE "InternalName", APP "\0"
			VALUE "LegalCopyright", "Copyright (C) 2009-2013 Riigi Infosüsteemi Amet"
			VALUE "OriginalFilename", APP ".exe\0"
			VALUE "ProductName", "DigiDoc3 Klient\0"
			VALUE "ProductVersion", PROD_VER_STR
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
		VALUE "Translation", 0x425, 1200
	END
END
/* End of Version info */

IDI_ICON1   ICON  DISCARDABLE  "images/digidoc_icon_48x48.ico"
IDI_ICON2   ICON  DISCARDABLE  "images/qdigidoc_client_document_48x48.ico"
