<?xml version="1.0" encoding="utf-8"?>

<!--
Depends package: Eesti_ID_kaart-CPP-teek-arendajale-3.10.0.3672.BETA.msi
msiexec /a Eesti_ID_kaart-CPP-teek-arendajale-3.10.0.3672.BETA.msi /qn TARGETDIR=C:\target

"%WIX%\bin\heat.exe dir "C:\target\Estonian ID Card Development\libdigidocpp\certs"
 -cg Certs -gg -scom -sreg -sfrag -srd -dr CertsFolder -var var.certsLocation -out CertsFragment.wxs

"%WIX%\bin\candle.exe" qdigidoc.wxs CertsFragment.wxs -dMSI_VERSION=3.9.5
 -dlibs_path="C:\target\Estonian ID Card Development\libdigidocpp\x86"
 -dcertsLocation="C:\target\Estonian ID Card Development\libdigidocpp\certs"
 -dqt_path=C:\Qt\5.3\msvc2013
 -dclient_path=client\qdigidocclient.exe

"%WIX%\bin\light.exe" -out qdigidoc.msi qdigidoc.wixobj CertsFragment.wixobj -v -ext WixUIExtension
-->

<?ifndef Platform ?>
<?define Platform="x86" ?>
<?endif ?>
<?define ShellExtId = "{310AAB39-76FE-401B-8A7F-0F578C5F6AB5}" ?>

<?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="DigiDoc3 Client" UpgradeCode="67932072-aa9e-45e3-b697-d825349f273d"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Platform="$(var.Platform)" Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="qdigidocclient.exe" SourceFile="$(var.client_path)"/>
    <Property Id="ARPPRODUCTICON" Value="qdigidocclient.exe"/>
    <Property Id="DESKTOP_SHORTCUT" Value="0"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <UIRef Id="WixUI_Minimal" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Menu shortcut -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="!(loc.idcardLabel)">
          <Component Id="ProgramMenuDir" Guid="5d26b9c2-cc87-452e-8132-76f0fc8f3e2c">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root='HKMU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <!-- Desktop shortcut -->
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcut" Guid="412b4616-001f-49ec-a9be-c942eb165e31" Transitive="yes">
          <Condition>DESKTOP_SHORTCUT = 1</Condition>
          <Shortcut Id="ClientDesktopShortcut" Name="!(loc.qdigidocclientLabel)"
                    Target="[!qdigidocclient.exe]" WorkingDirectory="APPLICATIONFOLDER"/>
          <Shortcut Id="CryptoDesktopShortcut" Name="!(loc.qdigidoccryptoLabel)" Icon="qdigidocclient.exe" IconIndex="2"
                    Target="[!qdigidocclient.exe]" WorkingDirectory="APPLICATIONFOLDER" Arguments="-crypto"/>
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id="APPLICATIONFOLDER" Name="DigiDoc3 Client">
          <Component Id="Application" Guid="810cbd57-b24d-49ee-939a-a1fc38dda46f">
            <File Source="$(var.client_path)" KeyPath='yes'>
              <Shortcut Id="ClientStartMenu" Advertise="yes" Name="!(loc.qdigidocclientLabel)" Icon="qdigidocclient.exe"
                Directory="ProgramMenuDir" WorkingDirectory="APPLICATIONFOLDER"/>
              <Shortcut Id="CryptoStartMenu" Advertise="yes" Name="!(loc.qdigidoccryptoLabel)" Icon="qdigidocclient.exe" IconIndex="2"
                Directory="ProgramMenuDir" WorkingDirectory="APPLICATIONFOLDER" Arguments="-crypto"/>
            </File>
            <ProgId Id="qdigidocclient.bdoc" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
              <Extension Id="bdoc" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidocclient.asice" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
              <Extension Id="asice" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidocclient.sce" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
              <Extension Id="sce" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidocclient.ddoc" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
              <Extension Id="ddoc" ContentType="application/x-ddoc">
                <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidocclient.p12d" Description="DigiDoc PKCS#12 certificate" Icon="qdigidocclient.exe" IconIndex="1">
              <Extension Id="p12d" ContentType="application/x-p12d">
                <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidocclient.cdoc" Description="DigiDoc encrypted container" Icon="qdigidocclient.exe" IconIndex="3">
              <Extension Id="cdoc" ContentType="application/x-cdoc">
                <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='-crypto "%1"' />
              </Extension>
            </ProgId>
            <File Source="$(var.libs_path)\zlib1.dll"/>
            <File Source="$(var.libs_path)\xerces-c_3_1.dll"/>
            <File Source="$(var.libs_path)\xsec_1_7.dll"/>
            <File Source="$(var.libs_path)\digidocpp.dll"/>
            <File Source="$(var.libs_path)\digidoc-tool.exe"/>
            <File Source="$(var.libs_path)\digidocpp.conf"/>
            <File Source="$(var.libs_path)\878252.p12"/>
<?ifdef var.certsLocation ?>
            <File Source="$(var.libs_path)\libxml2.dll"/>
            <File Source="$(var.libs_path)\digidoc.dll"/>
            <File Source="$(var.libs_path)\cdigidoc.exe"/>
            <File Source="$(var.libs_path)\digidoc.ini"/>
            <IniFile Id="setCaCertPathX86" Action="addLine" Directory="APPLICATIONFOLDER" Section="ca"
              Name="digidoc.ini" Key="CA_CERT_PATH" Value="[APPLICATIONFOLDER]certs"/>
<?endif?>
<?ifdef var.qt_path ?>
            <File Source="$(env.VCINSTALLDIR)\redist\$(var.Platform)\Microsoft.VC120.CRT\msvcp120.dll"/>
            <File Source="$(env.VCINSTALLDIR)\redist\$(var.Platform)\Microsoft.VC120.CRT\msvcr120.dll"/>
            <File Source="$(var.ssl_path)\libeay32.dll"/>
            <File Source="$(var.ssl_path)\ssleay32.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Core.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Gui.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Network.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5PrintSupport.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Widgets.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5WinExtras.dll"/>
            <File Source="$(var.qt_path)\bin\libEGL.dll"/>
            <File Source="$(var.qt_path)\bin\libGLESv2.dll"/>
            <File Source="$(var.qt_path)\bin\D3DCompiler_47.dll"/>
            <File Source="$(var.qt_path)\bin\opengl32sw.dll" />
<?endif?>
<?ifdef var.ShellExt ?>
            <!--Does not work with multiple files -->
            <!--RegistryValue Root='HKCR' Key='*\shell\[ProductName]' Type='string' Value='Sign with [ProductName]' />
            <RegistryValue Root='HKCR' Key='*\shell\[ProductName]' Name="Icon" Type='string' Value='"[APPLICATIONFOLDER]qdigidocclient.exe",0' />
            <RegistryValue Root='HKCR' Key='*\shell\[ProductName]\command' Type='string' Value='"[APPLICATIONFOLDER]qdigidocclient.exe" "%1"' /-->
            <File Source="$(var.ShellExt)"/>
            <RegistryKey Root="HKCR" Key="CLSID\$(var.ShellExtId)\InprocServer32">
              <RegistryValue Type="string" Value="[APPLICATIONFOLDER]EsteidShellExtension.dll"/>
              <RegistryValue Type="string" Name="ThreadingModel" Value="Apartment" />
            </RegistryKey>
            <RegistryValue Root="HKCR" Key="*\shellex\ContextMenuHandlers\DigiDoc3ShellExtension"
                           Value="$(var.ShellExtId)" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved"
                           Name="$(var.ShellExtId)" Value="DigiDoc3 Shell Extension" Type="string" />
<?endif?>
          </Component>
          <Directory Id="SchemaFolder" Name="schema" FileSource="$(var.libs_path)\schema">
            <Component Id="Schemas" Guid="6ab1d3ab-bbb8-42a0-8cf9-5ece75b13079">
              <File Name="conf.xsd"/>
              <File Name="OpenDocument_manifest.xsd"/>
              <File Name="xmldsig-core-schema.xsd"/>
              <File Name="XAdES.xsd"/>
              <File Name="XAdESv141.xsd"/>
              <File Name="ts_119612v010101.xsd"/>
              <File Name="ts_102918v010201.xsd"/>
            </Component>
          </Directory>
          <Directory Id="CertsFolder" Name="certs"/>
<?ifdef var.qt_path ?>
          <Directory Id="platforms" Name="platforms" FileSource="$(var.qt_path)\plugins\platforms">
            <Component Id="qwindows.dll">
              <File Name="qwindows.dll"/>
            </Component>
          </Directory>
          <Directory Id="printsupport" Name="printsupport" FileSource="$(var.qt_path)\plugins\printsupport">
            <Component Id="windowsprintersupport.dll">
              <File Name="windowsprintersupport.dll"/>
            </Component>
          </Directory>
<?endif?>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="InstallDigidoc" Level="1" Title="Digidoc3 Client" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="Application"/>
      <ComponentRef Id="Schemas"/>
<?ifdef var.certsLocation ?>
      <ComponentGroupRef Id="Certs"/>
<?endif?>
<?ifdef var.qt_path ?>
      <ComponentRef Id="qwindows.dll" />
      <ComponentRef Id="windowsprintersupport.dll" />
<?endif?>
    </Feature>
  </Product>
</Wix>
