Source: qdigidoc
Section: utils
Priority: extra
Maintainer: RIA <info@ria.ee>
Build-Depends:
 cdbs,
 cmake,
 libdigidocpp-dev (>=3.0),
 libldap2-dev,
 libpcsclite-dev,
 libssl-dev,
 qttools5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/open-eid/qdigidoc

Package: qdigidoc
Architecture: any
Depends:
 opensc,
 fonts-liberation,
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts:
 libdigidocpp0 (<<3.0)
Description: Estonian ID card digital signature desktop tools
 DigiDoc3 Client is a program that can be used to sign digitally with ID-card
 and Mobile-ID, check the validity of digital signatures and open and save
 documents inside the signature container. Digitally signed containers are
 files with .asice, .bdoc or .ddoc extensions.