[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=qdigidocclient -crypto %F
Icon=qdigidoc-crypto

Name=DigiDoc Crypto
Name[et]=DigiDoc krüpto
Name[ru]=DigiDoc Crypto

Keywords=Crypto;Digital;Signature;
Keywords[et_EE]=Krüpto;Digitaalne;Allkiri;

Categories=Qt;Office;
MimeType=application/x-cdoc;
