[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=qdigidoccrypto %F
Icon=qdigidoc-crypto

Name=DigiDoc3 Crypto
Name[et]=DigiDoc3 krüpto
Name[ru]=DigiDoc3 Crypto

Categories=Qt;Office;
MimeType=application/x-cdoc;
